.email-subscription {
	padding: 100px 0px;
	width: 100%;
}

.subscribe h1{
	font-family: Russo One;
	font-size: 60px;
	font-weight: 400;
	line-height: 72px;
	letter-spacing: 0em;
	text-align: center;
}

.subscribe input {
	border: 2px solid #454466;
	background: transparent;
	color: 1.5px solid #dadada;
	padding: 10px;
	width: 40%;
}
.subscribe button {
	border: 2px solid;
	border-image-source: var(--fav-color);
	border-image-slice: 1;
	border-width: 3px;
	padding: 10px 25px;
	background: transparent;
	color: white;
}