.card-section {
	padding: 120px 0;
}
h1 {
	margin: 0;
	padding: 50px 0;
	font-family: Russo One;
	font-size: 50px;
	font-weight: 400;
	line-height: 60px;
	letter-spacing: 0em;
}
.cards-content {
	background: #231e44;
	font-family: Inter;
	font-size: 18px;
	font-weight: 400;
	line-height: 27px;
	letter-spacing: 0em;
	text-align: center;
}
.cards-content:hover {
	background-image: var(--fav-color);
}