/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
:root {
	--purple: #8c21ed;

	--fav-color: linear-gradient(95.48deg, #2317fa -1.25%, #d529e4 97.48%);
}
* {
	margin: 0;
	padding: 0;
}
.icon-block {
	padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}
.brand-logo img {
	margin-top: 10px;
}

.section-banner {
	padding-bottom: 200px;
}

/* card css */

/* about css */

/* footer */
.footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 0;
}
.footer p {
	font-size: 18px;
	color: white;
}
.footer-icons {
	font-size: 30px;
	color: #5b5b5b;
	display: flex;
	justify-content: space-around;
}
@media only screen and (min-width: 320px) {
	.footer {
		display: flex;
		flex-direction: column;
	}
	.footer-icons{
		margin-right: 100%;
		
		
		display: flex;

		justify-content: space-between;
		
	}
	.footer-icons p{
		font-size: 20px
	}
	.footer-icons i{
		margin: 0px 40px;
	}
}
