/* Header css */
.title {
	background: rgba(9, 9, 9, 1);
	display: flex;
	align-items: center;
	width: 50%;
	border-radius: 5px;
}
.banner-left-img-shape {
	position: absolute;
	top: 203px;
	left: 101px;
}
.banner-left-img-bolb {
	position: absolute;
	top: 260px;
}
.left-content h1 {
	font-family: Russo One;
	font-size: 83px;
	font-weight: 400;
	line-height: 100px;
	letter-spacing: 0em;
	text-align: left;
}
.left-content p {
	font-family: Inter;
	font-size: 22px;
	font-weight: 400;
	line-height: 33px;
	letter-spacing: 0em;
	text-align: left;
}
.left-content {
	margin-top: 150px;
}
.title span {
	display: flex;

	align-items: center;
	padding: 5px;
	color: #fff;
}
.span-text p {
	background: var(--fav-color);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.banner-btns {
	width: 200px;
	padding: 10px;
	height: 50px;
	background-image: var(--fav-color);
	color: #fff;
	margin-top: 50px;
}
.man {
	width: 670px;
	height: 670px;
	position: absolute;
	right: 351px;
	top: 149px;
}
.banner-image {
	position: absolute;

	top: -20px;
	right: 0px;
	height: 857px;
	width: 900px;
}
.banner-image-world {
	position: absolute;
	top: 386px;
	right: 284px;
}
.banner-image-ring {
	position: absolute;
	top: 700px;
	right: 106px;
	width: 136px;
}
.banner-star {
	position: absolute;
	right: 600px;
	top: 50px;
}